.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

button {
  width: 110px;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;

  font-family: "Inter", sans-serif;
  background-color: #770000;
  border: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #9c3535;}

.plink {
  color: #007bff;            /* link color */
  font-size: 0.95rem;        /* text size */
  text-decoration: none;     /* remove underline */
  cursor: pointer;           /* show hand on hover */
  margin-top: 0.5rem;
  text-align: center;
  text-decoration: underline  ;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

