.App {
  text-align: center;
  background-color: rgb(246, 246, 246);
  width: 100vw;
  margin: 0 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: white;
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

button {
  width: 110px;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-family: "Inter", sans-serif;
  background-color: #770000;
  border: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #9c3535;}

.plink {
  color: #007bff;            /* link color */
  font-size: 0.95rem;        /* text size */
  text-decoration: none;     /* remove underline */
  cursor: pointer;           /* show hand on hover */
  margin-top: 0.5rem;
  text-align: center;
  text-decoration: underline  ;
}

.form-group label{
  font-size: 0.9rem;
  text-align: left;
  display: block;
  width: 100%;
  margin-bottom: 0px;
  color: black;
}

.webid-input {
  width: 400px;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 0;
  margin-bottom: 10px;
}

.login-button{
  width: 420px;
  padding: 0.5rem;
}

.back-link {
  display: block; /* ensures it doesn't stretch full width */
  text-align: left;
  width: 100%;
  margin-top: 1rem;      /* optional spacing from form */
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: black;
  background-color: white;
}
